* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}
/* ============= Variables ================= */
:root {
  --primary: #2f70f0;
  --dark: #1f4a9e;
  --darker: #112855;
  --light: #91b3f7;
  --shadow: 0 1px 5px rgba(17, 40, 85, 0.8);
}

/* ==================== Header/Navigation Bar ================== */
.header {
  display: grid;
  grid-template-areas:
  "logo nav nav";
  background: white;
}

.logo {
  grid-area: logo;
  margin: 0 auto;
}

.nav {
  grid-area: nav;
}
.nav ul {
  background:inherit;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style-type: none;
  overflow: hidden;
}
.nav ul li {
  display: inline-block;
  padding: 20px;
  color: var(--primary);
}
.nav ul li:hover {
  background: var(--primary);
  color: white;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

@media screen and (max-width: 1091px) {
    .header  {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
      "logo"
      "nav";
    }
@media screen and (max-width: 700px) {
    .header  {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
      "logo"
      "nav";
    }
    .nav ul li {
      width: 100%;
      padding-left: 0;
    }
}

  /* ==================== MAIN CONTENT =================== */
.showcase  {
  background: url(\..\images\pexels-photo-188679.jpeg);
  min-height: 400px;
  background-size: cover;
  background-position: center;
}
